* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  width: 100%;
}

.container {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  background: #fff url("https://api.ooopn.com/image/bing/api.php?v=2&type=jump") no-repeat center fixed;
  background-size: cover;
}

.index {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.search__form {
  margin: 40vh auto 0;
  width: 80%;
  font-size: 0;
  height: 36px;
  position: relative;
  z-index: 7;
  transition: .5s all;
  color: #fff;
  display: flex;
  flex: 0 0 auto;
}

.search__form.active {
  margin-top: 10px;
  width: 90%;
}

.search__input {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.8);
  outline: none;
  font-size: 16px;
  padding: 5px 8px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}

.search__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.search__list {
  margin-top: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.search__list_not {
  line-height: 300px;
  text-align: center;
  color: #888;
}

.search__list.active {
  padding: 10px;
  flex: 1 1 auto;
  overflow: scroll;
  height: auto;
  opacity: 1;
}

.search__list_item {
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.search__list_item:last-child {
  border: 0;
  margin: 0;
}

.search__list_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search__list_author {
  font-size: 12px;
}

.search__list_intro {
  margin-top: 8px;
  font-size: 12px;
  color: #333;
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;
}

.book {
  background-color: rgba(255, 255, 255, 0.8);
}

.book__home_button {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 32px;
  height: 32px;
}

.book__info {
  padding: 10px;
  position: relative;
}

.book__info_top {
  display: flex;
  align-items: center;
}

.book__info_img {
  width: 80px;
  flex: 0 0 auto;
}

.book__info_text {
  margin-left: 10px;
}

.book__info_text p {
  font-size: 14px;
}

.book__info_bottom {
  font-size: 14px;
  color: #333;
}

.book__chapter_tip {
  background: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  padding: 0 10px;
  line-height: 36px;
  color: #444;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.book__chapter_list {
  padding: 0 2%;
}

.book__chapter_btn {
  border: 1px solid #eee;
  padding: 6px 8px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  color: #333;
  outline: none;
}

.book__chapter_item {
  line-height: 36px;
  border-bottom: 1px solid #eee;
  color: #333;
  height: 36px;
  overflow: hidden;
}

.book__chapter_item a {
  display: block;
  padding: 0 10px;
}

.book__chapter_footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.book__chapter_select {
  margin: 0 10px;
  width: 120px;
}

.daytime {
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
}

.night {
  background-color: rgba(0, 0, 0, 0.8);
  color: #ccc;
}

.chapter__content {
  padding: 20px 10px;
  font-size: 18px;
}

.chapter__per {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 1.0rem;
  line-height: 1.4;
}

.chapter__ctrl {
  display: flex;
  justify-content: space-between;
  padding: 5%;
}

.chapter__ctrl a {
  color: #fff;
  padding: 8px 12px;
}

.daytime .chapter__ctrl a {
  color: #888;
}

.loading__container {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.loading__box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.loading {
  margin: 200px auto 0;
  width: 60px;
  height: 60px;
  position: relative;
  -webkit-animation: load 3s linear infinite;
}

.loading div {
  width: 100%;
  height: 100%;
  position: absolute;
}

.loading span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #99CC66;
  position: absolute;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  -webkit-animation: changeBgColor 3s ease infinite;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
  }
  33.3% {
    -webkit-transform: rotate(120deg);
  }
  66.6% {
    -webkit-transform: rotate(240deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes changeBgColor {
  0%, 100% {
    background: #99CC66;
  }
  33.3% {
    background: #FFFF66;
  }
  66.6% {
    background: #FF6666;
  }
}

.loading div:nth-child(2) {
  -webkit-transform: rotate(120deg);
}

.loading div:nth-child(3) {
  -webkit-transform: rotate(240deg);
}

.loading div:nth-child(2) span {
  -webkit-animation-delay: 0.5s;
}

.loading div:nth-child(3) span {
  -webkit-animation-delay: 1s;
}

.my__book_list {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}

.my__book_list.active {
  display: none;
}

.my__book_list a {
  color: #fff;
  line-height: 24px;
}